body{
      background-color: #FBF9FE;
      font-family: SimHei;
}
.weui_label{
  width: 4em;
}         
body .login_title {
      color: #10e61a;
      height: 60px;
      text-align: center;
      font-size: 32px;
      padding-top:0px;
      padding-left:0px;
}
.message{
      background: #00DD00;
      border-radius: 10px;
      height:auto;
      width:auto;
      text-size:1em;
}
.img{
	width:45%;
}
.message p{
	padding-top:20px;
	color:white;
}